@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500');
body {
  border-top: 4px solid #F5D534;
  background: #15151E;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
}

#container2 {
    border-color:#F5D534;
    border-style: solid;
    border-width: 1px;
    border-left-width: 10px;
    margin-top: 10px;
    align-items: center;
}
.container {
  display: inline-block;
  cursor: pointer;
  align-items: left;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}