<html>
    <head> 
        <link rel="stylesheet" href="/i/leaderboard.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        <div class="container" onclick="myFunction(this)">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

<script>
function myFunction(x) {
  x.classList.toggle("change");
}
</script>

    <center> <h1 id="title">GAME OF THRONES LEADERBOARD</h1> </center>

<div id="container2">
<ol>


{% for result in ranking %}
    <li>
    <div class="row">
        <div class="name">{{result.firstName}} || {{result.score}}</div>
    </div>

{% endfor %}
</ol>
</div>
</body>
</html>