<html>
    <head> 
        <link rel="stylesheet" href="/i/gotLeaderboard.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
          <div class="navbar">
            <h6>Leaderboard </h6>
            <div class="container" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <a class="leaderboard" href="/gotleaderboard"> Game of Thrones</a>
            <a class="leaderboard" href="/adamleaderboard">Addams Family</a>
            <a class="leaderboard" href="/termleaderboard"> Terminator 3</a>
        </div>

</div>

<script>
function myFunction(x) {
  x.classList.toggle("change");
}
</script>

    <center> <h1 id="title">GAME OF THRONES LEADERBOARD</h1> </center>

<div id="container2">
<ol>


{% for result in ranking %}
    <li>
    <div class="row">
        <div class="name"><h2>{{result.firstName}} || {{result.score}}</h2></div>
    </div>

{% endfor %}
</ol>
</div>
</body>
</html>