<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="/i/invalidatescore.css">
  <title>Page Title</title>
</head>
<body>
<h1 align="center"> Invalidate Score Form </h1>
 
<div class="container">
   <div class="whitebox">
       <form>
         <label align="center">First Name <br> </label>
         <input type="text" name="first"><br />
         <label class="label">Last Name <br></label>
         <input type="text" name="last"><br />
         <label class="label">Email <br> </label>
         <input type="text" name="email"><br />
         <label class="label">Person You Want to Invalidate <br> </label>
         <input type="text" name="email"><br />
         <label class="label">Reason for Invalidation <br> </label>
         <input type="radio">Person is lying about their score <br>
         <input type="radio">Person cheated on their match <br>
         <input type="radio">Person disrupted other people's scores <br>
         <input type="radio">Person does not use Google for their search engine <br>
         <input type="radio">Other <br>
         <div class="reveal">
      
           <label>Please elaborate on why you selected "Other" <br> </label>
           <input type="text"> <br>
         </div>
         <a href=""><button type="button"> Submit</button></a>
       </form>
   </div>
 </div>
  
 
 
</body>
</html>
 