<html>
    <head> 
        <link rel="stylesheet" href="/i/leaderboard.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="navbar">
            <h6>Leaderboard </h6>
            <a class="leaderboard" href="INSERT LEADERBOARD HERE"> Game of Thrones</a>
            <a class="leaderboard" href="ndfnov">Addams Family</a>
            <a class="leaderboard" href="ugh i hate my life"> Terminator 3</a>
        </div>

        <div class="container" onclick="myFunction(this)">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

<script>
function myFunction(x) {
  x.classList.toggle("change");
}
</script>

    <center> <h1 id="title">TERMINATOR 3 LEADERBOARD</h1> </center>

<div id="container2">
<ol>


{% for result in ranking %}
    <li>
    <div class="row">
        <div class="name">{{result.firstName}} || {{result.score}}</div>
    </div>

{% endfor %}
</ol>
</div>
</body>
</html>