<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/i/styles.css">
</head>

<body>
    <h1 align="center"> Pinball Hub </h1>

    <div class="container">
        <div class="whitebox">
            <div class="newuser">
                {{get_user_email()}}
                <a href="{}"><h3 align="center"> New User?</h3></a>.format(login_url)
            </div>
            <div class="already">
                <h3 align="center"> Already a User?</h3>
            </div>
        </div>
    </div>

</body>
</html>