<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="/i/styles.css">
</head>

<body>
<h1 align="center"> Pinball Hub </h1>
<div style="display: flex">
   <div class="container">
       <div class="whitebox">
           <div class="newuser">
             <a href="/p/(.*)"> <h3 align="center"> New User?</h3></a>
           </div>
            <a href="/leaderboard"> View leaderboard! </a>
           <div class="already">
            <a href=""> <h3 align="center"> Already a User?</h3></a>
           </div>
           <img class="Google" src=https://www.gstatic.com/images/branding/googlelogo/2x/googlelogo_color_284x96dp.png alt="Google image">
       </div>
   </div>


  
 </div>  
</body>
</html>

