<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="/i/styles.css">
   <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="/termleaderboard">Leaderboards</a></li>
  <li><a href="/p/(.*)">Compete</a></li>
  <li><a href="/invalidate">Report a User</a></li>
</ul>
</head>
 
<body>
<img class="Google" src=https://www.gstatic.com/images/branding/googlelogo/2x/googlelogo_color_284x96dp.png alt="Google image">
<h1 align="center"> Pinball Hub </h1>
<div style="display: flex">
   <div class="container">
       <div class="whitebox">
           <div class="signin">
             <a href="/p/(.*)"> <h3 align="center"> Sign In</h3></a>
       </div>
   </div>
 
 
  
 </div>  
</body>
</html>
 

